@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<dv>

    If you have any issue running the app please contact the emails down below.

</dv>

<address>
    <strong>Support:</strong>   <a href="mailto:alphyandrechauke@gmail.com">alphyandrechauke@gmail.com</a><br />
    <strong>Get in touch:</strong> <a href="mailto:alphy840@gmail.com">alphy840@gmail.com</a>
</address>